<app-home></app-home>
<div class="container">
    <div class="row">
        <div class="col-md-4 ">
            <br>
        </div>
    </div>
    <div class="shadow-none p-3 mb-5 bg-light rounded" style="color: blue;">
        BUSQUEDAS
    </div>
    <div class="panel panel-primary">
        <div>
            <div class="row">
                <div class="col-md-4 ">
                    <br>
                </div>
            </div>
            <form [formGroup]="formParametros" class="row g-3">
                <div class="row my-3 p-3 bg-body rounded shadow-sm">
                    <div class="col-md-4">
                        <label for="Id" class="form-label text-bold">Id Interfaz</label>
                        <input type="text" class="form-control" id="Id"
                            formControlName="Id" placeholder="Id Interfaz"
                           
                            >
                    </div>
                    <div class="col-md-4">
                        <label for="Descripcion" class="form-label text-bold">Descripción</label>
                        <input type="text" class="form-control" id="Descripcion" formControlName="Descripcion"
                            placeholder="Descripción de la Interfaz">
                    </div>
                    <div class="col-md-4">
                        <label for="Estado" class="form-label text-bold">Estado</label>
                        <select id="Estado" class="form-select" formControlName="Estado" name="Estado">
                            <option [value]="item.id" *ngFor="let item of estados">{{item.nombre}}</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 ">
                        <br>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group text-center">
                            <div class="divider-10"></div>
                            <button (click)="Buscar()" class="btn btn-outline-primary">Buscar</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="row">
            <div class="col-md-4 ">
                <br>
            </div>
        </div>
        

    </div>

    <table class="table table-striped">
        <thead>
          <tr>
            <th>Id Interfaz</th>
            <th>Descripción</th>
            <th>Estado</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let ficha of data">
            <td>{{ ficha.idInterface }}</td>
            <td>{{ ficha.descripcion }}</td>
            <td>{{ ficha.estado }}</td>
            <td><button class="btn btn-primary" (click)="editarFicha(ficha)">Editar Escensario</button></td>
          </tr>
        </tbody>
      </table>
</div>