<app-home></app-home>
<!-- https://ng-select.github.io/ng-select#/forms -->

<div>
    <div class="row">
        <div class="col-md-4 ">
            <br>
        </div>
    </div>
    <div class="shadow-none p-3 mb-5 bg-light rounded" style="color: blue;">
        SECUENCIAS
    </div>

    <hr />
    <div class="container my-3 p-3 bg-body rounded shadow-sm">
        <form [formGroup]="detalleform" errorTailor>
            <div class="row">
                <div class="col-md-8">
                    <label for="Middelware" class="form-label text-bold">Middelware</label>
                    <select id="Middelware" class="form-select" formControlName="Middelware" name="Middelware">
                        <option [value]="item.id" *ngFor="let item of middelwares">{{item.nombre}}</option>
                    </select>
                </div>
                <div class="col-md-4">
                    <label for="MiddelwareEstado" class="form-label text-bold">Estado</label>
                    <select id="MiddelwareEstado" class="form-select" formControlName="MiddelwareEstado" name="Estado">
                        <option [value]="item.id" *ngFor="let item of estados">{{item.nombre}}</option>
                    </select>

                </div>
            </div>

            <div class="row">
                <div class="col-md-4 ">
                    <br>
                </div>
            </div>

            <div class="row">
                <div class="col-md-5 shadow-lg p-3 mb-5 bg-white rounded">
                    <div class="row">
                        <div class="col-12">
                            <label for="DescripcionSecuenciaOrigen" class="form-label">Descripción Secuencia
                                Origen</label>
                            <input id="DescripcionSecuenciaOrigen" type="text" class="form-control"
                                formControlName="DescripcionSecuenciaOrigen">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <label for="InsAplicacionOrigen" class="form-label">Nombre Aplicación/Instancia
                                Origen</label>
                       
                            <select id="InsAplicacionOrigen" class="form-select" formControlName="InsAplicacionOrigen" name="InsAplicacionOrigen">
                                    <option [value]="item.u_nombre_logico" *ngFor="let item of instancias">{{item.u_nombre_logico}}</option>
                            </select>
 
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <label for="TipoConexionOrigen" class="form-label">Tipo Conexión Origen</label>
                            <input id="TipoConexionOrigen" type="text" class="form-control"
                                formControlName="TipoConexionOrigen">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <label for="UsuarioOrigen" class="form-label">Usuario de Comunicación Origen</label>
                            <input id="UsuarioOrigen" type="text" class="form-control" formControlName="UsuarioOrigen">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <label for="CertificadoOrigen" class="form-label">Certificado Origen</label>
                            <input id="CertificadoOrigen" type="text" class="form-control"
                                formControlName="CertificadoOrigen">
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-12">
                            <label for="jobOrigen" class="form-label">Job Relacionado Origen</label>
                            <input id="jobOrigen" type="text" class="form-control" formControlName="jobOrigen">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <label for="CelulaResponsableOrigen" class="form-label">Celula Responsable Origen</label>
                            <input id="CelulaResponsableOrigen" type="text" class="form-control"
                                formControlName="CelulaResponsableOrigen">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <label for="PathDocumentoFuncionalOrigen" class="form-label">Path Documento Origen</label>
                            <input id="PathDocumentoFuncionalOrigen" type="text" class="form-control"
                                formControlName="PathDocumentoFuncionalOrigen">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <label for="ConectorOrigen" class="form-label">Conector Origen</label>
                            <input id="ConectorOrigen" type="text" class="form-control"
                                formControlName="ConectorOrigen">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <label for="SistemaLogicoOrigen" class="form-label">Sistema Logico Origen</label>
                            <input id="SistemaLogicoOrigen" type="text" class="form-control"
                                formControlName="SistemaLogicoOrigen">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">

                        </div>
                    </div>
                </div>
                <div class="col-md-1">
                </div>
                <div class="col-md-6 shadow-lg p-3 mb-5 bg-white rounded">
                    <div class="row">
                        <div class="col-12">
                            <label for="DescripcionSecuenciaDestino" class="form-label">Descripción Secuencia
                                Destino</label>
                            <input id="DescripcionSecuenciaDestino" type="text" class="form-control"
                                formControlName="DescripcionSecuenciaDestino">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <label for="InsAplicacionDestino" class="form-label">Nombre Aplicación/Instancia
                                Destino</label>
                            <input id="InsAplicacionDestino" type="text" class="form-control"
                                formControlName="InsAplicacionDestino">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <label for="TipoConexionDestino" class="form-label">Tipo Conexión Destino</label>
                            <input id="TipoConexionDestino" type="text" class="form-control"
                                formControlName="TipoConexionDestino">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <label for="UsuarioDestino" class="form-label">Usuario de Comunicación
                                Destino</label>
                            <input id="UsuarioDestino" type="text" class="form-control"
                                formControlName="UsuarioDestino">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <label for="CertificadoDestino" class="form-label">CertificadoDestino</label>
                            <input id="CertificadoDestino" type="text" class="form-control"
                                formControlName="CertificadoDestino">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <label for="JobDestino" class="form-label">Job Relacionado Destino</label>
                            <input id="JobDestino" type="text" class="form-control" formControlName="JobDestino">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <label for="CelulaResponsableDestino" class="form-label">Celula Responsable Destino</label>
                            <input id="CelulaResponsableDestino" type="text" class="form-control"
                                formControlName="CelulaResponsableDestino">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <label for="PathDocumentoFuncionalDestino" class="form-label">Path Documento Destino</label>
                            <input id="PathDocumentoFuncionalDestino" type="text" class="form-control"
                                formControlName="PathDocumentoFuncionalDestino">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <label for="ConectorDestino" class="form-label">Conector Destino</label>
                            <input id="ConectorDestino" type="text" class="form-control"
                                formControlName="ConectorDestino">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <label for="SistemaLogicoDestino" class="form-label">Sistema Logico Destino</label>
                            <input id="SistemaLogicoDestino" type="text" class="form-control"
                                formControlName="SistemaLogicoDestino">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">

                        </div>
                    </div>


                </div>
            </div>
            <hr />

            <div class="row">
                <div *ngIf="!modoEdicion" class="col-sm-4">
                    <div class="form-group text-center">
                        <div class="divider-10"></div>

                        <button (click)="onSubmit()" class="btn btn-outline-primary">
                            <span *ngIf="enviarServidor" class="spinner-border spinner-border-sm"
                                aria-hidden="true"></span>
                            <span class="sr-only">Guardar</span>
                        </button>

                    </div>
                </div>
                <div *ngIf="modoEdicion" class="col-sm-4">
                    <div class="form-group text-center">
                        <div class="divider-10"></div>
                        <button (click)="editar()" [disabled]="!modoEdicion"
                            class="btn btn-outline-primary">Editar</button>


                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="form-group text-center">
                        <div class="divider-10"></div>

                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group text-center">
                        <div class="divider-10"></div>
                        <button (click)="regresar()" class="btn btn-outline-primary">Regresar</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>