<table class="table table-striped">
    <thead>
        <tr>
            
            <th scope="col">Decripcion Origen</th>
            <th scope="col">Decripcion Destino</th>
            <th scope="col">Middleware</th>
            <th scope="col">Estado</th>
            <th style="width: 1%"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let sencuencia of secuencias">
            <td>{{sencuencia.insAplicacionOrigen}}</td>
            <td>{{sencuencia.insAplicacionDestino}}</td>
            <td>{{sencuencia.middelware}}  </td>
            <td>{{sencuencia.middelwareEstado}}</td>
            
            <td><button class="btn btn-primary" (click)="editar(sencuencia)">Editar</button></td>
            <!-- <td><button class="btn btn-primary" (click)="ver(sencuencia)">Ver</button></td> -->

        </tr>
    </tbody>
</table>