<div>
    <form class="row g-3" [formGroup]="formCabecera" (submit)="send()"  errorTailor>
        <div class="my-3 p-3 bg-body rounded shadow-sm">
            <div class="row">
                <div class="col-md-4">
                    <label for="idCI" 
                            class="form-label text-bold">Identificador del CI</label>
                    <input type="text" 
                           class="form-control" 
                           id="idCI" 
                           placeholder="Indentificador del CI"
                           formControlName="idCI"
                           controlErrorsClass="my-class">
                           
                </div>
                <div class="col-md-4">
                    <label for="IdCiActivo" class="form-label text-bold">Identificación del Activo</label>
                    <input type="text" class="form-control" id="IdCiActivo" placeholder="Identificación  Activo"
                        formControlName="IdCiActivo">
                </div>
                <div class="col-md-4">
                    <label for="selectEstado" class="form-label text-bold">Estado</label>
                    <select id="selectEstado" 
                            class="form-select" 
                            formControlName="selectEstado" 
                            name="selectEstado" 
                            id="selectEstado">
                        <option selected>seleccionar...</option>
                        <option>...</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <label for="idEntorno" class="form-label text-bold">Entorno</label>
                    <select id="idEntorno" class="form-select">
                        <option selected>seleccionar...</option>
                        <option>...</option>
                    </select>
                </div>
                <div class="col-md-8">
                    <label for="idDescripcion" class="form-label text-bold">Descripción</label>
                    <input type="text" class="form-control" id="idDescripcion" placeholder="Descripcion" formControlName="idDescripcion">
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 ">
                    <br>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4">
                <div class="form-group text-center">
                    <div class="divider-10"></div>
                    <button type="submit" class="btn btn-outline-primary">Guardar</button>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group text-center">
                    <div class="divider-10"></div>
                    <button [routerLink]="['/secuencia']" type="submit" class="btn btn-outline-primary">Agregar
                        Secuencia</button>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group text-center">
                    <div class="divider-10"></div>
                    <button [routerLink]="['/busqueda']" type="submit" class="btn btn-outline-primary">Salir</button>
                </div>
            </div>
        </div>
    </form>


</div>